header {
    h1 {
        font-size: 34pt;    
        font-family: Verdana, Helvetica, serif;
        color: white;
    }
}

body {
    font-family: Verdana, Helvetica, serif;
    color: #FFFFFF;
    background-color: #00356B;
}
